<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml" lang="cs"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="My lovely web page"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="java, web"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Kočka nebo pes?</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i&amp;subset=latin-ext"
          rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="${'css/bootstrap.min.css'}"/>

    <link rel="shortcut icon" href="../static/images/dog_ico" type="image/x-icon" th:href="${'images/dog_ico'}"/>
</head>

<body>

<div th:insert="fragments/menu :: menu">menu</div>

<div class="container">
    <div class="jumbotron">
        <br>
        <h2>Kočka není pes</h2>
        <br>
<p>
    Je na obrázku kočka nebo pes? Vyberte si, odešlete formulář tlačítkem a dostanete vyhodnocení.
</p>
        <form method="post">
            <div th:each="jmenoObrazku, iter : ${seznamFotekKocekPsu}">
                <img src="../static/images/animals/kocka_1.jpg"
                     th:src="@{'/images/animals/' + ${jmenoObrazku.getNazevSouboru()}}"
                     class="obrazek_kocka_pes" alt="zviřátko"/>
                <input th:name="'obrazek[' + ${iter.index} + ']'" type="radio" value="zadna_odpoved" id="default_value_button" checked="checked">

                <label class="custom-radio">Kočka</label></input>
                <input th:name="'obrazek[' + ${iter.index} + ']'" type="radio" value="kočka" th:checked="${formular.obrazek?.get(iter.index)=='kočka'}">

                <br>
                <label class="custom-radio">Pes</label></input>
                <input th:name="'obrazek[' + ${iter.index} + ']'" type="radio" value="pes" th:checked="${formular.obrazek?.get(iter.index)=='pes'}">
                
                <br><br>
            </div>
            <input type="submit" id="tlacitko" class="btn btn-info" value="Odeslat formulář">
        </form>

    </div>

    <footer class="paticka">
        <br>
        <div>
            <p th:insert="fragments/footer :: footer">Footer</p>
        </div>

    </footer>
</div>
</body>
</html>


