<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="My lovely web page"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="java, web"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Kočka nebo pes?</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i&amp;subset=latin-ext"
          rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="${'css/bootstrap.min.css'}"/>

    <link rel="shortcut icon" href="../static/images/dog_ico" type="image/x-icon" th:href="${'images/dog_ico'}"/>
</head>

<body>
<!--/*@thymesVar id="balicekPexesa" type="java.util.List<cz.czechitas.webapp.kartaPexesa>"*/-->
<!--/*@thymesVar id="linkNaObrazek" type="java.lang.String"*/-->


<div th:insert="fragments/menu :: menu">menu</div>

<div class="container">
    <div class="jumbotron">
        <br>
        <h1 class="display-3">Kočka není pes</h1>
        <p>Žila jsem v Amsterdamu, můj muž je Holanďan. Některé chutě Holanďanů jsem sdílela hned, jiné jsem
            nepochopila a asi ani nepochopím. Mám ráda krenteboly, sýr a haringa. Moje děti
            milují hagelslag a burákové máslo, kerému říkají pinkadás namísto pindakás.
        </p>
        <form th:each="jedenObrazek : ${seznamFotekKocekPsu}">

            <ul style="list-style-type:none">
                <li>
                    <img src="../static/images/animals/jedna.jpg" th:src="${'images/animals/' + jedenObrazek}"
                         class="obrazek_kocka_pes" alt="zviřátko"/>

                    <div class="form-check">
                        <label class="form-check-label" style="align-content: center">
                            <input type="radio" class="form-check-input" name="odpoved1" value="KOCKA" checked="">
                            Kočka
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" style="align-content: center">
                            <input type="radio" class="form-check-input" name="odpoved1" value="PES" checked="">
                            Pes
                        </label>
                    </div>
                </li>
            </ul>
        </form>

        <div>
            <input id="radio-1" class="radio-custom" name="radio-group" type="radio" checked>
            <label for="radio-1" class="radio-custom-label">First Choice</label>
        </div>
        <div>
            <input id="radio-2" class="radio-custom"name="radio-group" type="radio">
            <label for="radio-2" class="radio-custom-label">Second Choice</label>
        </div>


    </div>

    <footer class="paticka">
        <br>
        <div>
            <p th:insert="fragments/footer :: footer">Footer</p>
        </div>

    </footer>
</div>
</body>
</html>


